body {
  background-color: burlywood;

}
.descDiv {
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}

.desc{
  position: absolute;
  color: whitesmoke;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

image {
  transition: 2000ms;
} 

.moveBehind {
  filter: blur(3px) brightness(40%);
}

.formDiv {
  padding: 20px;
}