body {
  background-color: burlywood;

}
.descDiv {
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 3px;
  float: left;
}

.desc{
  position: absolute;
  color: whitesmoke;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img {
  transition: 500ms;
  filter: blur(0px) brightness(100%);
}

.blur {
  transition: 500ms;
  filter: blur(3px) brightness(40%);
}



.formDiv {
  padding: 20px;
}

.col-md-4 {
  overflow: hidden;
}