body {
  background-color: #3E1929
}
.container {
  background-color: #6E75A8;
  border-radius: 50px;
}

.galleryContainer{
  display: flex;
}
.descDiv {
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 3px;
  float: left;
  width: 100%;
}

.desc{
  position: absolute;
  color: whitesmoke;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.equalHeight .equalHeight-child:nth-child(3n+1) {
  clear: left;
}

img {
  transition: 500ms;
  filter: blur(0px) brightness(100%);
  margin: 0 auto;
}

.blur {
  transition: 500ms;
  filter: blur(3px) brightness(40%);
}



.formDiv {
  padding: 20px;
}

.col-md-4 {
  overflow: hidden;
}

.thumbnailInfo {
  padding: 5px;
}

.imgContainer {
  background-color: #8D91C7;
  padding: 5px;
  margin: 10px 0;
  border: solid 1px black;
  border-radius: 10px;
}